<%= form_with(model: @recipe_form, url: recipes_path, local: true) do |f| %>
  <div class="form-container recipe-form">
    <% if @recipe_form.errors.any? %>
      <div class="alert alert-danger">
        <h5>エラーが発生しました</h5>
        <ul class="mb-0">
          <% @recipe_form.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="left-section">
      <div class="top-fields">
        <div class="field">
          <%= f.text_field :title, placeholder: "タイトル" %>
        </div>

        <div class="field">
          <%= f.number_field :cooking_time, placeholder: "目安" %>
        </div>
      </div>
      
      <%= f.label :image, class: "image_input_btn" do %>
        <%= image_tag('camera.png', size: "260x260", class: "image_icon") %>
        <span>画像を添付する</span>
        <%= f.file_field :image, id: "image_upload", class: "image_form" %>
      <% end %>

      <div class="field">
        <%= f.text_area :description, placeholder: "説明文を入力してください" %>
      </div>
    </div>

    <div class="right-section">
      <div class="seasonings-container">
        <h3>調味料</h3>
        <div class="seasonings-field">
          <% Seasoning.all.each do |seasoning| %>
            <div class="seasoning">
              <%= f.check_box :seasoning_ids, { multiple: true }, seasoning.id, nil %>
              <%= seasoning.name %>
            </div>
          <% end %>
        </div>
      </div>

      <div id="ingredients-container">
        <h3>食材</h3>
        <input type="text" name="recipe_form[ingredient_names][]", placeholder="食材" >
      </div>
      <button id="add-ingredient" type="button">食材を追加</button>
    </div>

    <div class="bottom-section">
      <div id="steps-container">
        <h3>手順</h3>
        <div class="field step-field">
          <%= f.label "steps_attributes[0][description]", "説明 1", class: "step-label" %>
          <%= f.text_area "steps_attributes[0][description]", id: "steps_attributes_0_description", class: "step-textarea" %>

          <%= f.label "steps_attributes[0][image]", class: "image_input_btn step-image-label" do %>
            <%= image_tag('camera.png', size: "50x50", class: "image_icon") %>
            <span>画像を添付する</span>
            <%= f.file_field "steps_attributes[0][image]", id: "steps_attributes_0_image", class: "step-image-input", style: "display: none;" %>
          <% end %>

          <button type="button" class="delete-step">削除</button>
        </div>
      </div>
      <button id="add-step" type="button">手順を追加</button>

      <div class="actions">
        <%= f.submit "投稿" %>
      </div>
      
    </div>

  </div>
<% end %>
<%= javascript_pack_tag 'ingredient_fields' %>
<%= javascript_pack_tag 'step_fields' %>
