<div class="row row-cols-1 row-cols-md-3 g-4 mx-4">
  <div class="col">
    <div class="card h-100">
      <% if @recipe.image? %>
        <%= image_tag @recipe.image.url, class: "card-img-top" %>
      <% else %>
        <%= image_tag "dish.png", class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @recipe.title %></h5>
        <p class="card-text"><%= @recipe.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="recipe-steps">
  <h3>手順</h3>
  <ol>
    <% @recipe.steps.each do |step| %>
      <li><%= step.description %></li>
      <li><%= step.image %></li>
    <% end %>
  </ol>
</div>
