<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'レシピ', recipes_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @recipe.title %></li>
  </ol>
</nav>
<div class="recipe-container">
  <div class="recipe-left">
    <h2><%= @recipe.title %></h2>
    <% if @recipe.image? %>
      <%= image_tag @recipe.image.url, class: "recipe-image" %>
    <% else %>
      <%= image_tag "dish.png", class: "recipe-image" %>
    <% end %>

    <p><%= @recipe.description %></p>
    <p>投稿者: <%= link_to @recipe.user.username, user_path(@recipe.user) %></p>
    <div>
      <% if user_signed_in? %>
        <% if current_user.favorite_recipes.include?(@recipe) %>
          <%= link_to 'お気に入り解除', recipe_favorite_path(@recipe, @recipe.favorites.find_by(user: current_user)), method: :delete %>
        <% else %>
          <%= link_to 'お気に入りに追加', recipe_favorites_path(@recipe), method: :post %>
        <% end %>
      <% end %>
    </div>
    
  </div>

  <div class="recipe-right">
    <h3>材料</h3>
    <ul>
      <li>じゃがいも</li>
      <li>ソーセージ</li>
      <li>緑のやつ</li>
      <li>塩こしょう</li>
    </ul>
  </div>
</div>

<div class="recipe-steps">
  <h3>レシピ</h3>
  <ol>
    <% @recipe.steps.each do |step| %>
      <li><%= step.description %></li>
      <% if step.image? %>
        <%= image_tag step.image.thumb.url %>
      <% end %>
    <% end %>
  </ol>
</div>
