<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'ホーム', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'レシピ', recipes_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @recipe.title %></li>
  </ol>
</nav>
<div class="recipe-container">
  <div class="recipe-top">
    <div class="recipe-title">
      <h2><%= @recipe.title %></h2>
    </div>
    <div class="recipe-favorite">
      <% if user_signed_in? %>
        <% if current_user.favorite_recipes.include?(@recipe) %>
          <%= link_to 'お気に入り解除', recipe_favorite_path(@recipe, @recipe.favorites.find_by(user: current_user)), method: :delete %>
        <% else %>
          <%= link_to 'お気に入りに追加', recipe_favorites_path(@recipe), method: :post %>
        <% end %>
      <% end %>
    </div>
    <div class="recipe-user">
      <% if @recipe.user.icon? %>
        <%= image_tag @recipe.user.icon.url, class: "user-icon" %>
      <% end %>
      <p>投稿者 : <%= link_to @recipe.user.username, user_path(@recipe.user) %></p>
    </div>
  </div>
  <div class="recipe-left">
    <% if @recipe.image? %>
      <%= image_tag @recipe.image.url, class: "recipe-image" %>
    <% else %>
      <%= image_tag "dish.png", class: "recipe-image" %>
    <% end %>
    <p>調理時間 : <%= @recipe.cooking_time %>分</p>
    <p><%= @recipe.description %></p>
  </div>
  <div class="recipe-right">
    <h3>食材</h3>
    <ul>
      <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
        <li><%= recipe_ingredient.ingredient.name %>: <%= recipe_ingredient.quantity %></li>
      <% end %>
    </ul>
    <h3>調味料</h3>
      <ul>
        <% @seasonings_with_quantities.each do |recipe_seasoning| %>
          <li><%= recipe_seasoning.seasoning.name %>: <%= recipe_seasoning.quantity %></li>
        <% end %>
      </ul>
  </div>
</div>
<div class="recipe-steps">
  <h3>レシピ</h3>
  <ol>
    <% @recipe.steps.each do |step| %>
      <li><%= step.description %></li>
      <% if step.image? %>
        <%= image_tag step.image.thumb.url %>
      <% end %>
    <% end %>
  </ol>
</div>
