<div class="slider">
  <% @random_recipes.each do |recipe| %>
    <div>
      <div class="card">
        <div class="card-img-top">
          <% if recipe.image? %>
            <%= image_tag recipe.image.url, class: "d-block w-100 rounded-2" %>
          <% else %>
            <%= image_tag "dish.png", class: "d-block w-100 rounded-2" %>
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to recipe.title, recipe_path(recipe) %></h5>
          <p class="card-text"><%= recipe.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>



<div class="main-wrapper">
  <div class="container mt-5">
    <h3 class="midashi_kari">人気レシピ</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-4">
      <% @popular_recipes.each do |recipe| %>
        <div class="col">
          <div class="card h-100">
            <div class="position-relative">
              <% if recipe.image? %>
                <%= image_tag recipe.image.url, class: "card-img-top rounded-2" %>
              <% else %>
                <%= image_tag "dish.png", class: "card-img-top" %>
              <% end %>
              <div class="card-img-overlay d-flex align-items-end">
                <h5 class="card-title text-white"><%= link_to recipe.title, recipe_path(recipe) %></h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><%= recipe.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container mt-5">
    <h3 class="midashi_kari">新着レシピ</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-4">
      <% @recent_recipes.each do |recipe| %>
        <div class="col">
          <div class="card h-100">
            <div class="position-relative">
              <% if recipe.image? %>
                <%= image_tag recipe.image.url, class: "card-img-top rounded-2" %>
              <% else %>
                <%= image_tag "dish.png", class: "card-img-top" %>
              <% end %>
              <div class="card-img-overlay d-flex align-items-end">
                <h5 class="card-title text-white"><%= link_to recipe.title, recipe_path(recipe) %></h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><%= recipe.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
