<div class="carousel_wrapper">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% @random_recipes.each_with_index do |_, index| %>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= index %>" class="<%= "active" if index == 0 %>" aria-current="true" aria-label="Slide <%= index + 1 %>"></button>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% @random_recipes.each_with_index do |recipe, index| %>
        <div class="carousel-item <%= "active" if index == 0 %>">
          <% if recipe.image? %>
            <%= image_tag recipe.image.url, class: "d-block w-100 rounded-2" %>
          <% else %>
            <%= image_tag "dish.png", class: "card-img-top" %>
          <% end %>
          <div class="carousel-caption d-none d-md-block">
            <h5><%= link_to recipe.title, recipe_path(recipe) %></h5>
            <p><%= recipe.description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="main-wrapper">
  <div class="container mt-5">
    <h3 class="midashi_kari">人気レシピ</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-4">
      <% @popular_recipes.each do |recipe| %>
        <div class="col">
          <div class="card h-100">
            <div class="position-relative">
              <% if recipe.image? %>
                <%= image_tag recipe.image.url, class: "card-img-top rounded-2" %>
              <% else %>
                <%= image_tag "dish.png", class: "card-img-top" %>
              <% end %>
              <div class="card-img-overlay d-flex align-items-end">
                <h5 class="card-title text-white"><%= link_to recipe.title, recipe_path(recipe) %></h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><%= recipe.description %></p>
              <%= link_to "削除", recipe_path(recipe), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
              <%= link_to "レシピを修正する", edit_recipe_path(recipe), class: "btn btn-dark" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container mt-5">
    <h3 class="midashi_kari">新着レシピ</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-4">
      <% @recent_recipes.each do |recipe| %>
        <div class="col">
          <div class="card h-100">
            <div class="position-relative">
              <% if recipe.image? %>
                <%= image_tag recipe.image.url, class: "card-img-top rounded-2" %>
              <% else %>
                <%= image_tag "dish.png", class: "card-img-top" %>
              <% end %>
              <div class="card-img-overlay d-flex align-items-end">
                <h5 class="card-title text-white"><%= link_to recipe.title, recipe_path(recipe) %></h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><%= recipe.description %></p>
              <%= link_to "削除", recipe_path(recipe), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
              <%= link_to "レシピを修正する", edit_recipe_path(recipe), class: "btn btn-dark" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container mt-5">
    <h3 class="midashi_kari">材料別</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-4">
      <% @recipes.each do |recipe| %>
        <div class="col">
          <div class="card h-100">
            <div class="position-relative">
              <% if recipe.image? %>
                <%= image_tag recipe.image.url, class: "card-img-top rounded-2" %>
              <% else %>
                <%= image_tag "dish.png", class: "card-img-top" %>
              <% end %>
              <div class="card-img-overlay d-flex align-items-end">
                <h5 class="card-title text-white"><%= link_to recipe.title, recipe_path(recipe) %></h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><%= recipe.description %></p>
              <%= link_to "削除", recipe_path(recipe), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
              <%= link_to "レシピを修正する", edit_recipe_path(recipe), class: "btn btn-dark" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
    <div class="container mt-5">
      <%= link_to '調味料を追加', new_ingredient_path, class: "btn btn-primary" %>
    </div>
  <% end %>
