<h1>調味料を追加</h1>

<%= form_with(model: [:admin, @seasoning], local: true) do |form| %>
  <% if @seasoning.errors.any? %>
    <div class="alert alert-danger">
      <h5>エラーが発生しました</h5>
      <ul>
      <% @seasoning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
